<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script language="javascript" type="text/javascript" src="/libraries/processing.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111340143-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111340143-1');
</script>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/projects">Projects</a></li>
    		</ul>
		</nav>

    <div class="container">

      {{ content }}

    </div>

		<footer>
    		<ul>
        		<li><a href="mailto:o.adegbite11@gmail.com">email</a></li>
        		<li><a href="https://github.com/oadegbite">github.com/Oadegbite</a></li>
            <li><a href="https://twitter.com/OAdegbite11">@Oadgbite11</a></li>
            <li><a href="https://www.linkedin.com/in/tomi-adegbite-517897132/">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>
